<%= form_for(person) do |f| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label 'Birth M - D - Y' %>
    <%= f.number_field :birth_month %>
    <%= f.number_field :birth_day %>
    <%= f.number_field :birth_year %>
  </div>

  <div class="field">
    <%= f.label :birth_place %>
    <%= f.text_field :birth_place %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label 'Death M - D - Y' %>
    <%= f.number_field :death_month %>
    <%= f.number_field :death_day %>
    <%= f.number_field :death_year %>
  </div>

  <div class="field">
    <%= f.label :death_place %>
    <%= f.text_field :death_place %>
  </div>

  <div class="field">
    <%= f.label :buried_place %>
    <%= f.text_field :buried_place %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
