<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>First name</th>
      <th>Last name</th>
      <th>My Family</th>
      <th>Parents</th>
      <th>Birth date</th>
      <th>Birth place</th>
      <th>Email</th>
      <th>Death date</th>
      <th>Death place</th>
      <th>Buried place</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.key %></td>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.famc_key %></td>
        <td><%= person.fams_key %></td>
        <td><%= person.birth_date_string %></td>
        <td><%= person.birth_place %></td>
        <td><%= person.email %></td>
        <td><%= person.death_date_string %></td>
        <td><%= person.death_place %></td>
        <td><%= person.buried_place %></td>
        <td><%= person.gender %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
