<h1>People</h1>

<table class="table table-striped" >
  <thead>
    <tr>
      <th>ID</th>
      <th>Key</th>
      <th>Name</th>
	  
      <th colspan="2">Born</th>
	  
      <th>Email</th>
      <th>Died</th>
      <th>Died at</th>
      <th>Buried</th>
      <th>Gender</th>
      <th>MF Key</th>
      <th>PF Key</th>
	  
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.id %></td>
        <td><%= person.key %></td>
        <td><%= link_to person.first_name+' '+person.last_name, person %></td>
        <td><%= person.birth_date_string %></td>
        <td><%= person.birth_place %></td>
        <td><%= person.email %></td>
        <td><%= person.death_date_string %></td>
        <td><%= person.death_place %></td>
        <td><%= person.buried_place %></td>
        <td><%= person.gender %></td>
        <td><%= person.famc_key %></td>
        <td><%= person.fams_key %></td>
		
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
