<table class="table table-striped" >
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th> 
      <th colspan="2">Born</th>
      <th>Email</th>
      <th>Died</th>
      <th>Died at</th>
      <th>Buried</th>
      <th>Gender</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.id, person %></td>
        <td><%= link_to person.try(:display_name), person %></td>
        <td><%= person.birth_date_string %></td>
        <td><%= person.birth_place %></td>
        <td><%= person.email %></td>
        <td><%= person.death_date_string %></td>
        <td><%= person.death_place %></td>
        <td><%= person.buried_place %></td>
        <td><%= person.gender %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Member', new_person_path %>
