<p id="notice"><%= notice %></p>

<h1><%= @person.description %></h1>

<p>
  <strong>Kazuko ID:</strong>
  <%= @person.id %><br>
  <strong>Legacy Key:</strong>
  <%= @person.key %><br>
  <strong>First name:</strong>
  <%= @person.first_name %><br>
  <strong>Last name:</strong>
  <%= @person.last_name %><br>
  <strong>Birth date:</strong>
  <%= @person.birth_date_string %><br>
  <strong>Birth place:</strong>
  <%= @person.birth_place %><br>
  <strong>Email:</strong>
  <%= @person.email %><br>
  <strong>Death date:</strong>
  <%= @person.death_date_string %><br>
  <strong>Death place:</strong>
  <%= @person.death_place %><br>
  <strong>Buried place:</strong>
  <%= @person.buried_place %><br>
  <strong>Gender:</strong>
  <%= @person.gender %><br>
  <strong>Parents:</strong>
  <% if @person.family %>
  	<%= link_to @person.family.display_name, @person.family %>
  <% end %>
  <br><strong>Union(s):</strong>  
  <% @person.families.each do |f| %>
  	<br>&nbsp;&nbsp;&nbsp;<%= link_to f.display_name, f %>
  <% end %>
  
  <br><br><strong>Imported Text:</strong>
  <ul>
    <% @person.rawtexts.each do |line| %>
      <li><%= line %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'List', people_path %>
