<!DOCTYPE html>
<html>
  <head>
    <title>Kazoku</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  
  	<% if current_user %>
  		<strong><%= current_user.email %></strong> |
  		<%= link_to_unless_current 'Home', user_root_path %> |
  		<%= link_to 'Logout', logout_path %>
  	<% else %>
  		<%= link_to_unless_current 'Home', root_path %> |
  		<%= link_to_unless_current 'Login', new_user_session_path %>
  	<% end %>
  	<br/><br/>	
	  
  	<% flash.each do |name, msg| %>
  		<div class="alert alert-<%= name %>">
  			<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<%= msg %>
  		</div>
  	<% end %>
  	<br/><br/>	
	   
    <%= yield %>
  </body>
  
</html>